<!-- 个人资料页面 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/static/logic/common/head.js"></script>
    	<link rel="stylesheet" type="text/css" href="/static/css/ucenter.css">
  <style>
    #choose{display: none;}
  </style>
</head>
<body>
<!--头部导航 开始-->
<header class="bar bar-nav"  >
	<a href="javascript:history.back()"><div  class="hj-header-icon-back"> </div></a>
    <h1 class="title">个人资料</h1>
</header>
<div id="app_v" >
	<form action="/account?update" name="dataForm"  id="dataForm" >
	<input  type="hidden"  name="accountId" v-model="account.accountId">
    <!-- 个人资料展示模块 -->
	<div class="weui-cells weui-cells_form"style="top: 2.2rem" >
	  <div class="weui-cell">
	    <div class="weui-cell__hd"><label class="weui-label">头像</label></div>
	    <div class="weui-cell__bd">
			<div  class="infor-pic"><img  id="headPic"  v-on:click="chooseFile"  v-bind:src="account.headPic"/> </div>
	    </div>
	  </div>
	  <div class="weui-cell">
	    <div class="weui-cell__hd"><label class="weui-label">昵称</label></div>
	    <div class="weui-cell__bd">
	      <input class="weui-input" type="text" name="accountName" placeholder="请输入昵称" v-model="account.accountName">
	    </div>
	  </div>
	  <div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd">
          <label for="" class="weui-label">性别</label>
        </div>
        <div class="weui-cell__bd">
          <select class="weui-select" name="sex" v-model="account.sex">  
            <option value="0">男</option>
            <option value="1">女</option>
          </select>
        </div>
      </div>
	  <div class="weui-cell">
	    <div class="weui-cell__hd"><label for="" class="weui-label">生日</label></div>
	    <div class="weui-cell__bd">
	      <input class="weui-input" type="date"  name="birthday"  v-model="account.birthday">  
	    </div>
	  </div>
	</div>
    <div class="weui-btn-area">
        <a href="#" onclick="AccountUtils.updateInfo()" class="weui-btn weui-btn_primary">保存</a>
    </div>
    </form>
</div>
<script src="/static/logic/account.js"></script>
<script src="/static/logic/common/foot.js"></script>
<input type="file" id="choose" accept="image/*" multiple>

<script>
  var  url='/account?update';
  var filechooser = document.getElementById("choose");
  var maxsize = 100 * 1024;
  filechooser.onchange = function() {
  	  if (!this.files.length) return;
      var files = Array.prototype.slice.call(this.files);
      if (files.length > 1) {
      	alert("最多同时只可上传1张图片");
       	return;
      }
      $.showLoading();
      var file=files[0];
      if (!/\/(?:jpeg|png|gif)/i.test(file.type)) return;
      var reader = new FileReader();
	  //获取图片大小
      reader.onload = function() {
	      var result = this.result;
	      var img = new Image();
	      img.src = result;
	      data.account.headPic=result;
	      //如果图片大小小于100kb，则直接上传
	      var f_size= DataUtil.getFileSize(file);
	       
	      if (f_size <= maxsize) {
	        img = null;
	        DataUtil.upload(result,url);
	        return;
	      }
		  //图片加载完毕之后进行压缩，然后上传
	      if (img.complete) {
	        callback();
	      } else {
	        img.onload = callback;
	      }
	      function callback() {
	        var data = DataUtil.compress(img);
	        DataUtil.upload(data,url);
	        img = null;
	      }
      };
      reader.readAsDataURL(file);
  };
</script>
</body>
</html>