@charset "utf-8";
/*******重置WEUI 部分样式*******/
body{font-family: -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Microsoft YaHei","Hiragino Sans GB",sans-serif;}
/**标题栏颜色**/
.weui-btn_primary {background-color: #ff5500;}
/***注册按钮***/
.weui-btn_reg {background-color: #76bb2a ;}
.weui-btn_disabled.weui-btn_primary {
    background-color: #ec8b89;
}
.weui-btn_primary:not(.weui-btn_disabled):active{color:hsla(0,0%,100%,.4);background-color:#ec8b89}
.weui-cells {margin-top: 10px;}
/***底部固定导航栏******/
.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label {color: #0993c7;}
.weui-tabbar__item.weui-bar__item--on i{color: #0993c7;}
.weui-tabbar{ position:fixed; z-index:2;}
.weui-article{padding:0px 15px;font-size:16px}

.weui-ajax-loading { background: hsla(0, 0%, 7%, 0.7) none repeat scroll 0 0;border-radius: 5px;color: #fff;left: 50%; margin-left: -3.8em;min-height: 1.6em;position: fixed;text-align: center;top: 180px;width: 7.6em;z-index: 5000;}
/*10种常见颜色*/
.f-red{color:#ef4f4f!important}
.f-green{color:#04be02!important}
.f-blue{color:#18b4ed!important}
.f-black{color:#333!important}
.f-white{color:#FFF!important}
.f-zi{color:#F3C!important}
.f-gray{color:#CCC!important}
.f-yellow{color:#FF6!important}
.f-orange{color:#F60!important}

/*标题栏*/
.bar{position:fixed;right:0;left:0;z-index:10;height:2.2rem;padding-right:.5rem;padding-left:.5rem;background-color:#ff5500 ;-webkit-backface-visibility:hidden;backface-visibility:hidden; color:#FFF;}
.bar-header-secondary{top:2.2rem}
.bar-nav{top:0}
.title{position:absolute;display:block;width:100%;padding:0;margin:0 -.5rem;font-size:.85rem;font-weight:500;line-height:2.2rem;color:#FFF;text-align:center;white-space:nowrap}
.title a{color:inherit}
.bar-tab{bottom:0;z-index:9000;width:100%;height:2.5rem;padding:0;table-layout:fixed;border-top:1px solid #e7e7e7;border-bottom:0;border-left:0;-webkit-transition-duration:400ms;-o-transition-duration:400ms;transition-duration:400ms}
.bar-tab .tab-item{position:relative;display:table-cell;width:1%;height:2.5rem;color:#929292;text-align:center;vertical-align:middle}
.bar-tab .tab-item.active,.bar-tab .tab-item:active{color:#0894ec}
.bar-tab .tab-item .icon{top:.15rem;width:1.2rem;height:1.2rem;padding-top:0;padding-bottom:0;font-size:1.2rem;line-height:1.2rem}
.bar-tab .tab-item .icon~.tab-label{position:relative;top:.15rem;display:block;font-size:.55rem}
.tabbar-hidden .bar-tab{-webkit-transform:translate3d(0,110%,0);transform:translate3d(0,110%,0)}

.common-wrapper {width: 100%;position: relative;max-width: 640px;min-width: 320px;overflow: hidden;margin: 0 auto;font-size: 16px;background-color: #f5f5f5;padding-bottom: 10px}
.login-logo {margin: 3rem 0;text-align: center}
.weui-btn-area {  margin: 3.176em 15px 0.3em;}
.weui-toast{margin-left: 0px}
/*****标题栏 返回*******/
.hj-header-icon-back{   height: 32px;  position: absolute;width: 32px;background: url(../images/icon/back.png);top: 10px; z-index:40000;}
/*****列表按钮图标*******/
.list-btn{	}
/*****列表按钮图标*******/
.list-btn img{	height: 35px;	width: 35px;}
/*****列表按钮图标*******/
.list-btn p{	margin-left:10px;	color: #666;}
.price-market{	text-decoration: line-through;	color: gray;	font-size:0.7rem;}
/*  导航占位 */
.space-header{height:2.2rem;}
.hide{display:none}
/* 占位 */
.space{height:3.75rem;}

.fl{float:left}
.fr{float:right;}
.price{
	color: #ed394a;
}
.price_a{
	color: #ed394a;
}
 