/*html5 reset*/
html {
    font-size: 62.5%;/*10 �� 16 �� 100% = 62.5%*/    
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
ul, ol {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-after: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0
}
body * {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    color: #464646;
    font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
}
input, select, textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
}
div {
    overflow: hidden;
}
ul, li, ol, p {
    list-style: none
}
h4, h5, em {
    font-style: normal;
    font-weight: 400
}
 
 

 
.block {
    border-top:1px solid #ebebeb;
    margin-top:.6rem;
    background:#fff;
    overflow: auto;
    border-bottom: 1px solid #CFCFCF;
}
  
/*订单头*/
.order_list .shop_title{ height:1.5rem; margin-left:0; border-bottom:1px solid #ccc;}
.order_list a .shop_title{ height:1.5rem; margin-left:0; border-bottom:1px solid #ccc;}
.order_list .shop_title div{ line-height:1.5rem; text-indent:.5rem; font-size:.5rem;  background-size:1.5rem 1.25rem;}
 
 
/*订单内容*/
.order_list .cart_item{border-bottom: 1px solid #E1E1E1;}
.order_list .cart_item .pro_pic{ width:5.5rem; height:5.5rem;margin: 1.2rem 1rem 1.2rem 0.45rem;}
.order_list .cart_item .detail{ padding:1.4rem 0 2.7rem 0;height:1.3rem;font-size:0.6rem;}
.order_list .cart_item .prd_state{color:#ff463c; padding-right:1.45rem;}
.order_list .cart_item .prd_state .prd_state_title{padding-bottom:0.8rem;}
.order_list .cart_item .prd_state img{width:2rem;padding-left:0.8rem;}
.order_list .cart_item .prd_tit{ width:56%;word-wrap:break-word;}
.order_list .cart_item .detail2{line-height:1.55rem; text-align:right; font-size:0.5rem; border-top:1px solid #e1e1e1;margin:0 1.45rem}
.order_list .cart_item .detail2 span:nth-child(2){color:#a0a0a0}
.order_list .cart_item .detail2 span:last-child{color:#000;font-size:0.5rem }
.order_list .ebook_tag{top:0;left:0;}

 
/* 底部操作 */
.order_detail_btn{padding:0 0 8px;position:fixed;bottom:0px;left:0; width:100%;background-color:#fff;z-index:2;}
.order_detail_btn .btn_con {
	text-align:right;
}