<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- Solr全文检索管理-->
	<!-- 管理员管理-->
	<bean id="searchAction" class="com.hg.service.search.action.SearchAction"></bean>
	<bean id="solrDAO" class="com.hg.service.search.dao.SolrDAO"></bean>
	<bean id="searchService" class="com.hg.service.search.service.SearchServiceImpl">
	<property name="solrServerUrl" value="http://localhost:8082/"></property>
	
	
	</bean>
	
</beans>
