<!-- 商品详情页面 -->
<!DOCTYPE html>
<html>
<head>
  	<title>商品详情</title>
  	<link   href="/static/css/product.css" rel="stylesheet" >
    <script src="/static/logic/common/head.js"></script>
</head>
  
<body>

<div id="app_page">
	<!--头部导航 开始-->
	<header class="bar bar-nav"  >
		<a href="javascript:history.back()"><div  class="hj-header-icon-back"> </div></a>
	    <h1 class="title">商品详情</h1>
	</header>
	<!--头部导航结束-->
	<div class="weui-tab" style="top: 2.2rem">
      <div class="weui-navbar">
        <a class="weui-navbar__item weui-bar__item--on" href="#tab1"> 商品</a>
        <a class="weui-navbar__item" href="#tab2">详情 </a>
        <a class="weui-navbar__item" href="#tab3">评论 </a>
      </div>
      <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
			<!-- 轮播开始 -->
			<div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
			  <div class="swiper-wrapper">
			    <div class="swiper-slide" v-for="pcc  in  product.picList"><img  v-bind:src="pcc" style="height: 300px" width="100%"></div>
			  </div>
			   <div class="swiper-pagination"></div>
			</div>
			<!-- 轮播结束 -->
			<!-- 详情区域开始 -->
			<section class="detail">
				<div class="left">
					<b>￥<span>{{product.price}}</span></b>
					<b><span class="price-market">市场价￥{{product.marketPrice}}</span></b>
				</div>
				<div class="right">
					<ul>
						<li class="fav"><a>收藏</a></li>
					</ul>
				</div>
				<article>{{product.productName}}</article>
				<p></p>
			</section>
			<!-- 详情区域结束 -->
			<!-- 加载促销信息模板开始 -->
		    <section class="promotion" v-if="product.promotion">
				<a href="javascript:void(0)" class="arrow_con">
					<div class="label">
						<div class="table">
							<div class="cell">
								<span class="purple">店铺满额减</span>
							</div>
						</div>
					</div>
					<div class="info">
						<p>{{product.promotion}}</p>
					</div>
				</a>
			</section>
			<!-- 加载促销信息模板结束 -->
			<!-- 商品简介开始 -->
			<section class="detail book_detail">
				<div v-html="product.descriptions"></div>
			</section>
			<!-- 商品简介结束 -->
			<!-- 数量开始 -->
			<section class="quantity">
				<h4>数量：</h4>
				<div class="number_con">
					<span v-on:click="buy_num_minus" class="minus">-</span>
					<div class="input"><input  v-on:blur="buy_num_blur"   id="buy_num" type="text"  v-model="buy_num"></div>
					<span v-on:click="buy_num_plus" class="plus on">+</span>
				</div>
			</section>
			<!-- 商品评论开始 -->
			<section class="review_area">
				<section class="jump">
					<a href="" class="arrow_con">
						<div class="arrow">
							<h4>商品评论（{{commentCount}}）</h4>
							<em>好评率{{commentScoreRate}}</em>
						</div>
						<div   v-for="comment  in  commentList" class="comment-box">
							<span>{{comment.accountName}}</span><br>
							<div class="comment-content"  > {{comment.content}}        <div style="float: right;padding-right: 7px;font-weight: bold">{{comment.createdTime}}</div>
							</div>
						</div>
					</a>
				</section>
			</section>
			<!-- 商品评论结束 -->
			<!-- 猜你喜欢开始 -->
			<section class="J_guess">
				<section class="guess">
				<div class="title_con"><span class="title">猜你喜欢</span><div class="line"></div></div>
				<ul>
					<li><a href=""> <aside><img class="" src="/static/images/1228694035-1_b.jpg"></aside><span>【包邮】珍视明冰敷眼罩 冷热敷双功效 缓解眼疲劳 满108赠礼 买就赠眼贴</span><em>￥45.00</em></a></li>
					<li><a href=""> <aside><img class="" src="/static/images/1228694035-1_b.jpg"></aside><span>【包邮】珍视明冰敷眼罩 冷热敷双功效 缓解眼疲劳 满108赠礼 买就赠眼贴</span><em>￥45.00</em></a></li>
					<li><a href=""> <aside><img class="" src="/static/images/1228694035-1_b.jpg"></aside><span>【包邮】珍视明冰敷眼罩 冷热敷双功效 缓解眼疲劳 满108赠礼 买就赠眼贴</span><em>￥45.00</em></a></li>
					<li><a href=""> <aside><img class="" src="/static/images/1228694035-1_b.jpg"></aside><span>【包邮】珍视明冰敷眼罩 冷热敷双功效 缓解眼疲劳 满108赠礼 买就赠眼贴</span><em>￥45.00</em></a></li>
				</ul>
				</section>
			</section>
			<!-- 猜你喜欢结束 -->
	 
        </div>
        <div id="tab2" class="weui-tab__bd-item">
           <div v-html="product.detailDesc"></div>
        </div>
        <div id="tab3" class="weui-tab__bd-item">
				<section class="jump">
					<a href="" class="arrow_con">
						<div class="arrow">
							<h4>商品评论（{{commentCount}}）</h4>
							<em>好评率{{commentScoreRate}}</em>
						</div>
					</a>
				</section>
				<section class="jump">
						<div   v-for="comment  in  commentList" class="comment-box">
							<span>{{comment.accountName}}</span><br>
							<div class="comment-content"  > {{comment.content}}        <div style="float: right;padding-right: 7px;font-weight: bold">{{comment.createdTime}}</div>
							</div>
						</div>
				</section>
        </div>
      </div>
	</div>	
	<!-- 购物车开始 -->
	<section class="shopping_cart">
		<div class="btn_con">
			<button class="add"  v-on:click="addCart">加入购物车</button>
			<button class="buy J_buy" >立即购买</button>		
		</div>
		<a href="/page/cart/index.html" class="cart" dd_name="查看购物车">
			<span>购物车<i></i></span>
		</a>
	</section>
	<!-- 购物车结束 -->	
</div> 
<section class="space"></section>
<script src="/static/logic/product_cart.js"></script>
<script src="/static/logic/product.js"></script>
<script src="/static/js/swiper.js"></script>
</body>
</html>


